.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 220px;
  border-radius: 6px;
  background-color: #fff;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-card h4 {
  margin: 10px 0 6px;
  font-size: 16px;
}

.product-card p {
  margin: 0 0 10px;
  font-weight: bold;
}

.product-card button {
  width: 100%;
  padding: 8px;
  background: green;
  color: black;
  border-radius: 10px;
}
